.filters
{
    display: flex;
}

.filters ul                                                                                              /* CSS de la div des filtres -- Ajouter un hover pour
                                                                                                                                         les boutons filtres*/                                                                                                                                       
{
    display: grid;
    grid-gap: 25px;
    list-style-type: none;
    min-width: 892px;
    max-width: 1155px;
    width: 80%;
    margin-top: 35px;
    height: auto;
    margin-left: 50px;
    grid-template-columns: 215px 165px 215px 280px;
}

.filters h2
{
    margin-top: 45px;
    font-size: 22px;
    width: 70px;
}

.filters-4,
.filters-4-dog 
{
    border: 2px #F2F2F2 solid;
    border-left: none;
    border-radius: 17px 30px 30px 17px;
    height: 42px;
    width: fit-content;
    text-align: right;
    padding-top: 12px;
    padding-right: 15px;
    font-family: "Raleway bold";
    display: flex;
    font-size: 22px;
}

[class^="filters-4"]:hover
{
    color: white;
    background-color: #0065FC;
}    

.eco,
.fam,
.heart,
.dog
{
    color: #0065FC;
    margin-top: -14px;
    border: 1px #F2F2F2 solid;
    background-color: #DEEBFF;
    border-radius: 40px;
    width: 60px;
    height: 38px;
    text-align: center;
    padding-top: 18px;
    margin-left: -10px;
}

.eco + p,
.fam + p,
.heart + p,
.dog + p
{
    margin-top: 2px;
    margin-left: 15px;
}

@media all and (max-width: 1024px)
{
    .filters-4,
    .filters-4-dog
    {
        border: 5px #F2F2F2 solid;
        border-left: none;
        border-radius: 40px;
        height: 80px;
        padding-top: 13px;
        padding-right: 25px;
        font-size: 40px;
    }

    .filters-4-dog
    {
        grid-column: 1;
    }
   
    .eco,
    .fam,
    .heart,
    .dog
    {
        color: #0065FC;
        margin-top: -17px;
        border-radius: 50px;
        width: 100px;
        height: 70px;
        padding-top: 30px;
        margin-left: -13px;
    }

    .filters
    {
        flex-direction: column;
    }

    .filters h2
    {
        font-size: 45px;
        width: 145px;
    }

    .filters ul
    {
        grid-template-columns: 493px 320px;
        margin-top: 0px;
        grid-gap: 25px;
        width: auto;
        margin-left: 0px;
    }

    .eco + p,
    .fam + p,
    .heart + p,
    .dog + p
    {
        margin-top: 10px;
        margin-left: 20px;
    }


}