article
{
    margin-top: 60px;
}

#activity
{
    font-size: 18px;
}

#activities
{
    display: grid;
    grid-template-columns: repeat(auto-fill, 325px);
    grid-gap: 150px;
    margin-left: 15px;
}

.big-size
{
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 2px 2px 5px grey;
    width: 357px;
    margin-top: 60px;
    height: 515px;
}

.big-images
{
    border-radius: 10px 10px 0px 0px;
    margin-left: -1px;
    margin-top: -17px;
    width: 360px;
    height: 470px;
}

.column-b
{
    margin-top: -26px;
}

.text-images
{
    font-weight: bold;
    margin-top: 10px;
    margin-left: 10px;
}

.squares-b
{
    border: 1px solid white;
    margin-top: 85px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px grey;
    width: 357px;

}

.squares-c
{
    border: 1px solid white;
    margin-top: 85px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px grey;
    width: 357px;
    height: 255px;
}

.mediumsize
{
    width: 360px;
    margin-left: -1px;
    margin-top: -17px;
    border-radius: 10px 10px 0px 0px;
}

.mediumsize-change
{
    width: 360px;
    margin-left: -1px;
    margin-top: -17px;
    border-radius: 10px 10px 0px 0px;
    height: 205px;
}

@media all and (max-width: 1024px)
{
    #activity
    {
    display: flex;
    justify-content: center;
    font-size: 26px;
    }

    #activities
    {
    display: grid;
    grid-template-columns: repeat(1, 325px);
    grid-gap: 15px;
    justify-content: center;
    }

    .big-size,
    .squares-b
    {
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 2px 2px 5px grey;
    width: 325px;
    height: 170px;
    margin-top: 15px;
    }

    .big-images,
    .mediumsize,
    .mediumsize-change
    {
    border-radius: 10px 10px 0px 0px;
    margin-top: -24px;
    padding: 2px;
    width: 322px;
    height: 105px;
    }

    .text-images
    {
        font-family: 'Raleway bold';
        font-size: 18px;
    }

    .column-b
    {
        margin-top: 0px;
    }
}
