#section1
{
    display: flex;
    grid-gap: 60px;
}

#article1
{
    border: 1px solid #F2F2F2;
    width: 1200px;
    min-width: 365px;
    background-color: #F2F2F2;
    border-radius: 10px;
    height: auto;
    margin-top: 25px;
}

#hosting
{
    font-size: 22px;
    margin-left: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.hostingS
{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 320px);
    grid-gap: 75px;
}

.column-a
{
    display: block;
}

.squares
{
    border: 1px solid white;
    width: 300px;
    background-color: white;
    padding: 4px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px grey;
    height: 200px;
}
.squares-2
{
    border: 1px solid white;
    width: 300px;
    background-color: white;
    padding: 4px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px grey;
    height: 200px;
    margin-top: 60px;
}

ul
{
    list-style-type: none;
    justify-content: space-around;
    padding-left: 0px;
    margin: 0px;
}

.images
{
    width: 300px;
    height: 135px;
    border-radius: 20px 20px 0px 0px;
}

.names
{
    font-size: 16px;
    font-family: 'Raleway bold';
    margin-left: 10px;
}

.nights
{
    font-size: 14px;
    margin-left: 10px;
    margin-top: 4px;
}

.rating
{
    color: #F2F2F2;
    font-size: 14px;
    margin-left: 10px;
    margin-top: 4px;
}

.stars
{
    float: left;
}

.stars2
{
    margin-right: -410px;
}

.stars3
{
    margin-right: -125px;
}

[class^="stars"] i
{
    transition: color .4s;
    float: right;
}

[class^="stars"] i:hover,
[class^="stars"] i:focus,
[class^="stars"] i:hover ~ i,
[class^="stars"] i:focus ~ i
{

    color: #0065FC; 
    cursor: pointer;
}

#showmore
{
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 40px;
    font-size: 18px;
    font-family: 'Raleway bold';
}

@media all and (max-width: 1024px)
{
    #article1
    {
        width: auto;
        border: none;
        background-color: white;
    }

    #hosting
    {
        font-size: 55px;
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: 50px;
    }

    .hostingS
    {
        display: grid;
        grid-template-columns: repeat(1, 820px);
        justify-content: center;
        grid-gap: 40px;
        margin-left: 0px;
    }

    .squares
    {
        width: 100%;
        height: 450px;
        padding: 10px;
        border-radius: 30px;
    }

    .squares-2
    {
        width: 100%;
        height: 450px;
        margin-top: 40px;
        padding: 10px;
        border-radius: 30px;
    }

    .images
    {
        width: 100%;
        height: 300px;
        border-radius: 30px 30px 0px 0px;
    }

    .names,
    .nights
    {
        font-size: 40px;
    }

    .rating
    {
        font-size: 32px;
    }

    #showmore
    {
        font-size: 40px;
    }

    #section1
    {
        flex-direction: column-reverse;
    }
}
