body
{
    font-family: "Raleway";
    margin-left: 20px;

}

h1
{
    font-size: 18px;
    font-family: "Raleway bold";
    margin-left: 15px;
    width: 550px;
}

h2
{
    font-size: 18px;
    font-family: "Raleway bold";
    margin-left: 15px;
    width: 300px;
}

@media all and (max-width: 1024px)
{
    body
    {
        font-size: 24px;
    }   
    
    h1
    {
        font-size: 26px;
    }

    h2
    {
        font-size: 26px;
    }
}