body
{
    font-family: "Raleway";
    margin-left: 35px;
    margin-right: 35px;

}

h1
{
    font-size: 28px;
    font-family: "Raleway bold";
    width: 740px;
}

h2
{
    font-size: 18px;
    font-family: "Raleway bold";
}

@media all and (max-width: 1024px)
{
    body
    {
        font-size: 34px;
    }   
    
    h1
    {
        font-size: 40px;
    }

    h2
    {
        font-size: 26px;
    }
}