#filters
{
    display: flex;
}

#filters ul                                                                                              /* CSS de la div des filtres -- Ajouter un hover pour
                                                                                                                                         les boutons filtres*/                                                                                                                                       
{
    display: grid;
    list-style-type: none;
    max-width: 1155px;
    width: 80%;
    margin-top: 35px;
    height: auto;
    margin-left: 50px;
    grid-template-columns: 215px 165px 215px 280px;
}

#tFilters
{
    margin-top: 45px;
    font-size: 22px;
    width: 70px;
}

.filters-4 
{
    border: 2px #F2F2F2 solid;
    border-left: none;
    border-radius: 17px 30px 30px 17px;
    height: 42px;
    width: fit-content;
    text-align: right;
    padding-top: 12px;
    padding-right: 15px;
    font-family: "Raleway bold";
    display: flex;
    font-size: 22px;
}

.filters-4:hover,
.eco:hover,
.fam:hover,
.heart:hover,
.dog:hover
{
    color: white;
    background-color: #0065FC;
}    

.eco,
.fam,
.heart,
.dog
{
    color: #0065FC;
    margin-top: -14px;
    border: 1px #F2F2F2 solid;
    background-color: #DEEBFF;
    border-radius: 40px;
    width: 60px;
    height: 38px;
    text-align: center;
    padding-top: 18px;
    margin-left: -10px;
}

.eco + p,
.fam + p,
.heart + p,
.dog + p
{
    margin-top: 2px;
    margin-left: 15px;
}

@media all and (max-width: 1024px)
{
    .filters-4
    {
    border: 2px #F2F2F2 solid;
    border-left: none;
    border-radius: 17px 40px 40px 17px;
    height: 48px;
    width: fit-content;
    text-align: right;
    padding-top: 13px;
    padding-right: 15px;
    font-family: "Raleway bold";
    display: flex;
    font-size: 24px;
    }
   
    .eco,
    .fam,
    .heart,
    .dog
    {
    color: #0065FC;
    margin-top: -14px;
    border: 1px #F2F2F2 solid;
    background-color: #F2F2F2;
    border-radius: 40px;
    width: 62px;
    height: 42px;
    text-align: center;
    padding-top: 20px;
    margin-left: -15px;
    }

    #filters
    {
        flex-direction: column;
    }

    #tFilters
    {
        font-size: 34px;
        width: 105px;
    }

    #filters ul
    {
        grid-template-columns: repeat(2, 300px);
        margin-top: 0px;
        grid-gap: 15px;
    }


}