#filters
{
    display: flex;
}

#filters ul                                                                                              /* CSS de la div des filtres -- Ajouter un hover pour
                                                                                                                                         les boutons filtres*/                                                                                                                                       
{
    display: grid;
    grid-gap: 105px;
    list-style-type: none;
    justify-content: space-around;
    max-width: 1155px;
    width: 80%;
    margin-top: 45px;
    height: auto;
    margin-left: 50px;
    grid-template-columns: repeat(auto-fill, 200px);
}

#tFilters
{
    margin-top: 45px;
    font-size: 18px;
    width: 60px;
}

.filters-4
{
    border: 1px #F2F2F2 solid;
    border-left: none;
    border-radius: 17px 20px 20px 17px;
    height: auto;
    width: fit-content;
    text-align: right;
    margin-top: -9px;
    padding-top: 13px;
    padding-right: 15px;
    font-family: "Raleway bold";
    display: flex;
}

.filters-4:hover,
.eco:hover,
.fam:hover,
.heart:hover,
.dog:hover
{
    color: white;
    background-color: #0065FC;
}    

.eco
{
    color: #0065FC;
    margin-top: -14px;
    border: 1px #F2F2F2 solid;
    background-color: #F2F2F2;
    border-radius: 40px;
    width: 42px;
    height: 29px;
    text-align: center;
    padding-top: 12px;
    margin-left: -4px;
}

.fam
{
    color: #0065FC;
    margin-top: -14px;
    border: 1px #F2F2F2 solid;
    background-color: #F2F2F2;
    border-radius: 40px;
    width: 42px;
    height: 29px;
    text-align: center;
    padding-top: 12px;
    margin-left: -4px;   
}

.heart
{
    color: #0065FC;
    margin-top: -14px;
    border: 1px #F2F2F2 solid;
    background-color: #F2F2F2;
    border-radius: 40px;
    width: 42px;
    height: 29px;
    text-align: center;
    padding-top: 12px;
    margin-left: -4px;
}

.dog
{
    color: #0065FC;
    margin-top: -14px;
    border: 1px #F2F2F2 solid;
    background-color: #F2F2F2;
    border-radius: 40px;
    width: 42px;
    height: 29px;
    text-align: center;
    padding-top: 12px;
    margin-left: -9px;
}

.filters-4 div
{
    margin-left: 5px;
}

