@font-face {
    font-family: "Raleway";                                                                             /*Nouvelles polices ajoutées*/
    src: url("policeraleway/static/Raleway-Regular.eot");                                              
    src: url("policeraleway/static/Raleway-Regular.eot#iefix") format("embedded-opentype"),            
         url("policeraleway/static/Raleway-Regular.woff") format("woff"),                              
         url("policeraleway/static/Raleway-Regular.ttf") format("truetype"),                           
         url("policeraleway/static/Raleway-Regular.svg") format("svg");                                   
}                                                                                                       
                                                                                                        
@font-face {
    font-family: "Raleway bold";
    src: url("policeraleway/static/Raleway-Bold.eot");
    src: url("policeraleway/static/Raleway-Bold.eo#iefix") format("embedded-opentype"),
         url("policeraleway/static/Raleway-Bold.woff") format("woff"),
         url("policeraleway/static/Raleway-Bold.ttf") format("truetype"),
         url("policeraleway/static/Raleway-Bold.svg") format("svg");  
}