footer
{
    display: flex;
    margin-top: 60px;
    border: 1px solid #F2F2F2;
    background-color: #F2F2F2F2;
    margin-left: -45px;
    height: 263px;
}

.footer
{
    margin-left: 300px;
}

.titleLI
{
    font-weight: bold;
    margin-top: 35px;
}

.undertitleLI
{
    margin-top: 40px;
}