footer
{
    display: grid;
    grid-template-columns: repeat(auto-fill, 574px);
    margin-top: 60px;
    border: 1px solid #F2F2F2;
    background-color: #F2F2F2;
    margin-left: -45px;
    height: 200px;
    width: auto;
    min-width: 610px;
    margin-right: -35px;
}

.footer
{
    margin-left: 45px;
    width: 250px;
}

.titleLI
{
    font-family: 'Raleway bold';
    font-size: 18px;
    margin-top: 35px;
    margin-bottom: 25px;
}

.undertitleLI
{
    margin-top: 15px;
}

@media all and (max-width: 1024px)
{
    footer
    {
        display: grid;
        grid-template-columns: repeat(1, 640px);
        margin-top: 60px;
        border: 1px solid #F2F2F2;
        background-color: #F2F2F2;
        margin-left: -40px;
        margin-right: -35px;
        height: 870px;
        width: 983px;
        min-width: 610px;
        justify-content: flex-start;
    }

    .footer
    {
        margin-left: 90px;
        width: 580px;
        margin-top: -30px;
    }

    .titleLI
    {
        margin-bottom: 30px;
        font-family: 'Raleway bold';
        font-size: 40px;
        margin-top: 80px;
    }

    .undertitleLI
    {
        margin-top: 10px;
        width: 580px;
        font-size: 40px;
    }
}