#infos
{
    display: flex;
    font-size: 20px;
    margin-top: 25px;
}

#i-infos
{
    border: 1px #F2F2F2 solid;
    width: 25px;
    border-radius: 40px;
    text-align: center;
    color: #0065FC;
    margin-top: 25px;
}

#p-infos
{
    margin-top: 25px;
    margin-left: 8px;
}

@media all and (max-width: 1024px)
{
    #i-infos
    {
        height: 45px;
        width: 45px;
        font-size: 40px;
    }

    #p-infos
    {
        width: 740px;
        font-size: 40px;
        margin-left: 25px;
    }
}