@font-face {
    font-family: "Raleway";                                                                             /*Nouvelles polices ajoutées*/
    src: url("policeraleway/static/Raleway-Regular.eot");                                              
    src: url("policeraleway/static/Raleway-Regular.eot#iefix") format("embedded-opentype"),            
         url("policeraleway/static/Raleway-Regular.woff") format("woff"),                              
         url("policeraleway/static/Raleway-Regular.ttf") format("truetype"),                           
         url("policeraleway/static/Raleway-Regular.svg") format("svg");                                   
}                                                                                                       
                                                                                                        
@font-face {
    font-family: "Raleway bold";
    src: url("policeraleway/static/Raleway-Bold.eot");
    src: url("policeraleway/static/Raleway-Bold.eo#iefix") format("embedded-opentype"),
         url("policeraleway/static/Raleway-Bold.woff") format("woff"),
         url("policeraleway/static/Raleway-Bold.ttf") format("truetype"),
         url("policeraleway/static/Raleway-Bold.svg") format("svg");  
}

body                                                                                                     /*CSS du header*/
{
    font-family: "Raleway";
    margin-left: 45px;
    margin-top: 20px;
}

h1
{
    font-size: 24px;
    margin-left: 15px;
    font-family: Raleway bold;
}

#logo
{
    width: 118px;
    margin-left: 15px;
}

header
{
    display: flex;
    justify-content: space-between;
}

#sinscrire
{
    font-size: 16px;
    color: #0065FC;
    font-family: 'Raleway bold';
    border: none;
    background-color: white;
}

nav
{
    margin-right: 70px;
}

nav #ha
{
    display: flex;
    list-style-type: none;
}

#ha li
{
    margin-left: 59px;
}

#souslogo p
{
    margin-left: 15px;
}

#localisation
{
    border: 0.4px #F2F2F2 solid;
    width: 325px;
    border-radius: 14px;
    height: 47px;
    margin-left: 16px;
    border-right: none;
}

.info
{
    border: 1px #F2F2F2 solid;
    padding: 13px 2px;
    height: 19px;
    width: 42px;
    border-radius: 13px 0px 0px 13px;
    background-color: #F2F2F2;
    text-align: center;
}

#recherche
{
    height: 47px;
    width: 164px;
    margin-right: 0px;
    margin-left: -5px;
    border: none;
}

#recherche:active, 
#recherche:focus,
#sinscrire:active,
#sinscrire:focus
{
    outline: none;
}

#btnRech
{
    border: none;
    background-color: #0065FC;
    color: white;
    height: 100%;
    width: 35%;
    border-radius: 0px 13px 13px 0px;
    margin-left: -4px;
    outline: none;
}

#btnRech:active #btnRech:focus
{
    outline: none;
}

a
{
    text-decoration: none;
}

#ha, a:hover
{
    color: #0065FC;
}

/*_______________________________________________________________________________________________________________________________________________________________*/


#filtres ul                                                                                              /* CSS de la div des filtres -- Ajouter un hover pour
                                                                                                                                         les boutons filtres*/                                                                                                                                       
{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    width: 900px;
    margin-top: -35px;
    margin-left: 100px;
}

#tFiltres
{
    margin-top: 45px;
    font-size: 18px;
}

#eco
{
    border: 1px #F2F2F2 solid;
    border-left: none;
    border-radius: 17px 20px 20px 17px;
    height: 28px;
    width: 145px;
    text-align: right;
    margin-top: -9px;
    padding-top: 13px;
    padding-right: 15px;
    margin-left: -100px;
    font-family: "Raleway bold";
    display: flex;
}

#eco:hover,
.eco:hover,
#fam:hover,
.fam:hover,
#coeur:hover,
.coeur:hover,
#dog:hover,
.dog:hover
{
    color: white;
    background-color: #0065FC;
}    

.eco
{
    color: #0065FC;
    margin-top: -14px;
    border: 1px #F2F2F2 solid;
    background-color: #F2F2F2;
    border-radius: 40px;
    width: 42px;
    height: 29px;
    text-align: center;
    padding-top: 12px;
    margin-left: -4px;
}

#fam
{
    border: 1px #F2F2F2 solid;
    border-left: none;
    border-radius: 17px 20px 20px 17px;
    height: 28px;
    width: 107px;
    text-align: right;
    margin-top: -9px;
    padding-top: 13px;
    padding-right: 15px;
    margin-left: -104px; 
    font-family: "Raleway bold";
    display: flex;
}

.fam
{
    color: #0065FC;
    margin-top: -14px;
    border: 1px #F2F2F2 solid;
    background-color: #F2F2F2;
    border-radius: 40px;
    width: 42px;
    height: 29px;
    text-align: center;
    padding-top: 12px;
    margin-left: -4px;   
}

#coeur
{
    border: 1px #F2F2F2 solid;
    border-left: none;
    border-radius: 17px 20px 20px 17px;
    height: 28px;
    width: 137px;
    text-align: right;
    margin-top: -9px;
    padding-top: 13px;
    padding-right: 15px;
    margin-left: -100px; 
    font-family: "Raleway bold";
    display: flex;
}

.coeur
{
    color: #0065FC;
    margin-top: -14px;
    border: 1px #F2F2F2 solid;
    background-color: #F2F2F2;
    border-radius: 40px;
    width: 42px;
    height: 29px;
    text-align: center;
    padding-top: 12px;
    margin-left: -4px;
}

#dog
{
    border: 1px #F2F2F2 solid;
    border-left: none;
    border-radius: 17px 20px 20px 17px;
    height: 28px;
    width: 182px;
    text-align: right;
    margin-top: -9px;
    padding-top: 13px;
    padding-right: 15px;
    margin-left: -100px;
    padding-left: 4px;
    font-family: "Raleway bold";
    display: flex;
}

.dog
{
    color: #0065FC;
    margin-top: -14px;
    border: 1px #F2F2F2 solid;
    background-color: #F2F2F2;
    border-radius: 40px;
    width: 42px;
    height: 29px;
    text-align: center;
    padding-top: 12px;
    margin-left: -9px;
}

#eco div,
#fam div,
#coeur div,
#dog div
{
    margin-left: 5px;
}

#infor
{
    border: 1px #F2F2F2 solid;
    width: 19px;
    border-radius: 40px;
    text-align: center;
    color: #0065FC;
    margin-left: 15px;
    margin-top: 24px;
}

#inform
{
    display: flex;
}

#informa
{
    margin-top: 26px;
    margin-left: 8px;
}

/*_______________________________________________________________________________________________________________________________________________________________________*/


                                                                                                                    /*CSS article*/


#hébergement
{
    font-size: 18px;
    margin-left: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
}


.hebergements
{
    display: flex;
}

ul
{
    list-style-type: none;
    justify-content: space-around;
}

.noms
{
    margin-left: -35px;
    font-size: 14px;
    font-weight: bold; 
}

.images
{
    width: 225px;
    height: 105px;
    border-radius: 10px 10px 0px 0px;
    margin-top: -16px;
    margin-left: -40px;
}

#hebergements
{
    margin-left: -15px;
}

.nuits
{
    font-size: 12px;
    margin-left: -35px;
}

#afficherplus
{
    margin-top: 60px;
    margin-left: 40px;
    font-size: 14px;
    font-weight: bold;
}

.rating
{
    color: #F2F2F2;
    font-size: 11px;
    margin-left: 4px;
    margin-top: -15px;
}

.stars
{
    float: left;
}

.stars2
{
    margin-right: -410px;
}

.stars3
{
    margin-right: -125px;
}

.stars i,
.stars2 i,
.stars3 i,
.stars4 i,
.stars5 i
{
    transition: color .4s;
    float: right;
}

.stars i:hover,
.stars i:focus,
.stars i:hover ~ i,
.stars i:focus ~ i,
.stars2 i:hover,
.stars2 i:focus,
.stars2 i:hover ~ i,
.stars2 i:focus ~ i,
.stars3 i:hover,
.stars3 i:focus,
.stars3 i:hover ~ i,
.stars3 i:focus ~ i,
.stars4 i:hover,
.stars4 i:focus,
.stars4 i:hover ~ i,
.stars4 i:focus ~ i,
.stars5 i:hover,
.stars5 i:focus,
.stars5 i:hover ~ i,
.stars5 i:focus ~ i
{
    color: #0065FC; 
    cursor: pointer;
}

#article1
{
    border: 1px solid #F2F2F2;
    margin-left: 20px;
    background-color: #F2F2F2;
    border-radius: 10px;
    height: 645px;
    margin-top: 26px
}

.coloN
{
    display: block;
}

.cadre
{
    border: 1px solid white;
    width: 225px;
    background-color: white;
    padding: 2px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px grey;
    height: 155px;
    margin-left: 45px;
    margin-top: 45px;
}

.cadre2
{
    border: 1px solid white;
    width: 225px;
    height: 155px;
    background-color: white;
    padding: 2px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px grey;
    margin-top: 30px;
}


/*_____________________________________________________________________________________________________________________________________________________________*/

                                                                                                                    /*CSS du aside*/

aside
{

    border: 1px #F2F2F2 solid;
    height: 645px;
    width: 450px;
    background-color: #F2F2F2F2;
    border-radius: 10px;
    margin-top: 26px;
    margin-right: 70px;
}

#lespluspopulaires
{
    font-size: 18px;
    margin-left: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: Raleway bold;
}

#stonk
{
    margin-left: 110px;
}

.imagesA
{
    width: 115px;
    height: 107px;
    border-radius: 10px 0px 0px 10px;
    margin-left: -40px;
    margin-top: -16px;
}

.nomsA
{
    margin-left: 90px;
    font-size: 14px;
    font-weight: bold;
    width: 150px;
    margin-top: -100px;
}

.nuitsA
{
    margin-left: 90px;
    font-size: 12px;
}

.ratingA
{
    color: #F2F2F2;
    font-size: 11px;
    margin-left: 129px;
    margin-top: -15px;
}

.cadreA
{
    border: 1px white solid;
    background-color: white;
    box-shadow: 2px 2px 5px grey;
    border-radius: 10px;
    width: 290px;
    height: 107px;
    padding: 2px;
    margin-top: 65px;
    margin-left: 75px;
}








article
{
    margin-top: 60px;
}

.bigSize
{
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 2px 2px 5px grey;
    width: 357px;
    margin-left: 110px;
    margin-top: 60px;
    height: 515px;
}

.bigImages
{
    border-radius: 10px 10px 0px 0px;
    margin-left: -41px;
    margin-top: -17px;
    width: 360px;
    height: 470px;
}
.textimages
{
    font-weight: bold;
    margin-top: 10px;
    margin-left: -15px;
}

#activity
{
    font-size: 18px;
}

#activities
{
    display: flex;
    margin-left: -80px;
}
.cadreB
{
    border: 1px solid white;
    margin-top: 85px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px grey;
    margin-left: 80px;
    width: 357px;

}

.cadreC
{
    border: 1px solid white;
    margin-top: 85px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px grey;
    margin-left: 80px;
    width: 357px;
    height: 255px;
}

.mediumsize
{
    width: 360px;
    margin-left: -42px;
    margin-top: -17px;
    border-radius: 10px 10px 0px 0px;
}

.mediumsizeChange
{
    width: 360px;
    margin-left: -42px;
    margin-top: -17px;
    border-radius: 10px 10px 0px 0px;
    height: 205px;
}

.colomn
{
    margin-top: -26px;
}