@font-face {
    font-family: "Raleway";                                                                             /*Nouvelles polices ajoutées*/
    src: url("policeraleway/static/Raleway-Regular.eot");                                              
    src: url("policeraleway/static/Raleway-Regular.eot#iefix") format("embedded-opentype"),            
         url("policeraleway/static/Raleway-Regular.woff") format("woff"),                              
         url("policeraleway/static/Raleway-Regular.ttf") format("truetype"),                           
         url("policeraleway/static/Raleway-Regular.svg") format("svg");                                   
}                                                                                                       
                                                                                                        
@font-face {
    font-family: "Raleway bold";
    src: url("policeraleway/static/Raleway-Bold.eot");
    src: url("policeraleway/static/Raleway-Bold.eo#iefix") format("embedded-opentype"),
         url("policeraleway/static/Raleway-Bold.woff") format("woff"),
         url("policeraleway/static/Raleway-Bold.ttf") format("truetype"),
         url("policeraleway/static/Raleway-Bold.svg") format("svg");  
}

body                                                                                                     /*CSS du header*/
{
    font-family: "Raleway";
    margin-left: 45px;
    margin-top: 20px;
}

#logo
{
    width: 118px;
    margin-left: 15px;
}

header
{
    display: flex;
    justify-content: space-between;
}

#sinscrire
{
    font-size: 16px;
    color: #0065FC;
    font-family: 'Raleway bold';
    margin-left: 65px;
    border: none;
    background-color: white;
}

h1
{
    font-size: 24px;
    margin-left: 15px;
    font-family: Raleway bold;
}

#souslogo p
{
    margin-left: 15px;
}

nav
{
    margin-right: 70px;
}

nav #ha
{
    display: flex;
    list-style-type: none;
}

#ha li
{
    margin-left: 59px;
}

#localisation
{
    border: 0.4px #F2F2F2 solid;
    width: 325px;
    border-radius: 14px;
    height: 47px;
    margin-left: 16px;
    border-right: none;
}

.info
{
    border: 1px #F2F2F2 solid;
    padding: 13px 2px;
    height: 19px;
    width: 42px;
    border-radius: 13px 0px 0px 13px;
    background-color: #F2F2F2;
    text-align: center;
}

#recherche
{
    height: 47px;
    width: 164px;
    margin-right: 0px;
    margin-left: -5px;
    border: none;
}

#recherche:active, 
#recherche:focus,
#sinscrire:active,
#sinscrire:focus
{
    outline: none;
}

#btnRech
{
    border: none;
    background-color: #0065FC;
    color: white;
    height: 100%;
    width: 35%;
    border-radius: 0px 13px 13px 0px;
    margin-left: -4px;
    outline: none;
}

#btnRech:active #btnRech:focus
{
    outline: none;
}

a
{
    text-decoration: none;
}

#ha, a:hover
{
    color: #0065FC;
}

/*_______________________________________________________________________________________________________________________________________________________________*/


#filtres ul                                                                                              /* CSS de la div des filtres -- Ajouter un hover pour
                                                                                                                                         les boutons filtres*/                                                                                                                                       
{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    width: 900px;
    margin-top: -35px;
    margin-left: 100px;
}

#tFiltres
{
    margin-top: 45px;
    font-size: 18px;
}

#eco
{
    border: 1px #F2F2F2 solid;
    border-left: none;
    border-radius: 17px 20px 20px 17px;
    height: 28px;
    width: 145px;
    text-align: right;
    margin-top: -9px;
    padding-top: 13px;
    padding-right: 15px;
    margin-left: -100px;
    font-family: "Raleway bold";
    display: flex;
}

#eco:hover,
.eco:hover,
#fam:hover,
.fam:hover,
#coeur:hover,
.coeur:hover,
#dog:hover,
.dog:hover
{
    color: white;
    background-color: #0065FC;
}    

.eco
{
    color: #0065FC;
    margin-top: -14px;
    border: 1px #F2F2F2 solid;
    background-color: #F2F2F2;
    border-radius: 40px;
    width: 42px;
    height: 29px;
    text-align: center;
    padding-top: 12px;
    margin-left: -4px;
}

#fam
{
    border: 1px #F2F2F2 solid;
    border-left: none;
    border-radius: 17px 20px 20px 17px;
    height: 28px;
    width: 107px;
    text-align: right;
    margin-top: -9px;
    padding-top: 13px;
    padding-right: 15px;
    margin-left: -104px; 
    font-family: "Raleway bold";
    display: flex;
}

.fam
{
    color: #0065FC;
    margin-top: -14px;
    border: 1px #F2F2F2 solid;
    background-color: #F2F2F2;
    border-radius: 40px;
    width: 42px;
    height: 29px;
    text-align: center;
    padding-top: 12px;
    margin-left: -4px;   
}

#coeur
{
    border: 1px #F2F2F2 solid;
    border-left: none;
    border-radius: 17px 20px 20px 17px;
    height: 28px;
    width: 137px;
    text-align: right;
    margin-top: -9px;
    padding-top: 13px;
    padding-right: 15px;
    margin-left: -100px; 
    font-family: "Raleway bold";
    display: flex;
}

.coeur
{
    color: #0065FC;
    margin-top: -14px;
    border: 1px #F2F2F2 solid;
    background-color: #F2F2F2;
    border-radius: 40px;
    width: 42px;
    height: 29px;
    text-align: center;
    padding-top: 12px;
    margin-left: -4px;
}

#dog
{
    border: 1px #F2F2F2 solid;
    border-left: none;
    border-radius: 17px 20px 20px 17px;
    height: 28px;
    width: 182px;
    text-align: right;
    margin-top: -9px;
    padding-top: 13px;
    padding-right: 15px;
    margin-left: -100px;
    padding-left: 4px;
    font-family: "Raleway bold";
    display: flex;
}

.dog
{
    color: #0065FC;
    margin-top: -14px;
    border: 1px #F2F2F2 solid;
    background-color: #F2F2F2;
    border-radius: 40px;
    width: 42px;
    height: 29px;
    text-align: center;
    padding-top: 12px;
    margin-left: -9px;
}

#eco div,
#fam div,
#coeur div,
#dog div
{
    margin-left: 5px;
}

#infor
{
    border: 1px #F2F2F2 solid;
    width: 19px;
    border-radius: 40px;
    text-align: center;
    color: #0065FC;
    margin-left: 15px;
    margin-top: 24px;
}

#inform
{
    display: flex;
}

#informa
{
    margin-top: 26px;
    margin-left: 8px;
}

/*_______________________________________________________________________________________________________________________________________________________________________*/


                                                                                                                    /*CSS article*/

#hébergement
{
    font-size: 18px;
    margin-left: 53px;
    margin-top: 35px;
}

ul
{
    list-style-type: none;
    justify-content: space-around;
}

#colon1
{
    width: 610px;
    border-radius: 10px 10px 0px 0px;
}

.noms
{
    margin-left: 5px;
    font-size: 14px;
    font-weight: bold; 
}

.images
{
    width: 185px;
    height: 85px;
    border-radius: 10px 10px 0px 0px;
}

#hebergements
{
    margin-left: -15px;
}

.nuits
{
    font-size: 12px;
    margin-left: 5px;
}

#afficherplus
{
    margin-top: 30px;
    margin-left: 40px;
    font-size: 14px;
    font-weight: bold;
}

.rating
{
    color: black;
    font-size: 11px;
    margin-left: 4px;
    margin-top: 2px;
}

.stars i 
{
    transition: color .4s;
}

.stars i:hover,
.stars i:focus,
.stars i:hover ~ i,
.stars i:focus ~ i
{
    color: #0065FC; 
    cursor: pointer;
}

article
{
    border: 1px solid #F2F2F2;
    width: 751px;
    margin-left: 20px;
    background-color: #F2F2F2;
    border-radius: 10px;
    height: 470px;
    margin-top: 26px
}

#colon2
{
    margin-left: 230px;
    margin-top: -330px;
}

#colon3
{
    margin-left: 460px;
    margin-top: -330px;
}

.cadre
{
    border: 1px solid white;
    width: 185px;
    background-color: white;
    padding: 2px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px grey;
    height: 135px;
}

.cadre2
{
    border: 1px solid white;
    width: 185px;
    background-color: white;
    padding: 2px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px grey;
    margin-top: 35px;
}


/*_____________________________________________________________________________________________________________________________________________________________*/

                                                                                                                    /*CSS du aside*/

aside
{
    margin-left: 1000px;
    margin-top: -471px;
    border: 1px #F2F2F2 solid;
    height: 470px;
    width: 400px;
    background-color: #F2F2F2F2;
    border-radius: 10px;
}

#lespluspopulaires
{
    font-size: 18px;
    margin-left: 40px;
    margin-top: 11px;
    font-family: Raleway bold;
}

#stonk
{
    margin-left: 110px;
}

.imagesA
{
    width: 115px;
    height: 107px;
    border-radius: 10px 0px 0px 10px;
}

.nomsA
{
    margin-left: 135px;
    font-size: 14px;
    font-weight: bold;
    width: 150px;
    margin-top: -100px;
}

.nuitsA
{
    margin-left: 135px;
    font-size: 12px;
}

.ratingA
{
    color: #F2F2F2;
    font-size: 11px;
    margin-left: 135px;
    margin-top: 2px;
}

.cadreA
{
    border: 1px white solid;
    background-color: white;
    box-shadow: 2px 2px 5px grey;
    border-radius: 10px;
    width: 290px;
    height: 107px;
    padding: 2px;
}

.cadreB
{
    margin-top: 30px;
    border: 1px white solid;
    background-color: white;
    box-shadow: 2px 2px 5px grey;
    border-radius: 10px;
    width: 290px;
    height: 107px;
    padding: 2px;
}