#underlogo p
{
    margin-left: 15px;
    width: 500px;
}

form
{
    display: flex;
}

#localisation
{
    border: 0.4px #F2F2F2 solid;
    width: 325px;
    border-radius: 14px;
    height: 47px;
    margin-left: 16px;
    border-right: none;
    display: flex;
}

.info
{
    border: 1px #F2F2F2 solid;
    padding-top: 12px;
    height: auto;
    width: 70px;
    border-radius: 13px 0px 0px 13px;
    background-color: #F2F2F2;
    text-align: center;
}

#search
{
    height: 47px;
    width: 231px;
    margin-right: 0px;
    margin-left: 15px;
    border: none;
    font-family: 'Raleway bold';
}

#search:active, 
#search:focus,
#signup:active,
#signup:focus 
{
    outline: none;
}

#btnRech,
#btnRech-2
{
    border: none;
    background-color: #0065FC;
    color: white;
    height: 47px;
    width: 33%;
    border-radius: 0px 13px 13px 0px;
    outline: none;
}

#btnRech:active #btnRech:focus
{
    outline: none;
}

a
{
    text-decoration: none;
}

@media all and (max-width: 1024px)
{
    form
    {
        justify-content: center;
    }

    #localisation
    {
        width: 380px;
        display: flex;
    }

    #underlogo p
    {
        width: 630px;
    }

    #localisation
    {
        width: 790px;
        height: 85px;
    }

    .info
    {
        padding-top: 23px;
        height: auto;
        width: 110px;
    }
    
    #search
    {
        height: 85px;
        width: 615px;
        font-size: 34px;
        font-family: 'Raleway bold';
        margin-left: 50px;
    }


    #btnRech-2
    {
        height: 85px;
        width: 110px;
        font-size: 34px;
    }

    #btnRech
    {
        display: none;
    }
}

@media all and (min-width: 1024px)
{
    #btnRech-2
    {
        display: none;
    }
}